@media screen and (min-width: 1170px) {
    .navbar-default {
        padding: 30px 0;
        transition: padding 0.3s;
        &.navbar-shrink {
             padding: 10px 0;
         }
    }
}

.navbar-default {
    a {
        color: #4d4d4d;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 42px;
        font-weight: 700;
        font-size: 20px;
        &.brand {
            > img {
                max-width: 70px;
            }
        }
        &.active {
         color: #2dbccb;
        }
    }
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    > section {
        width: 100%;
        height: 100%;
    }
}

#portfolio {
    background: #2dbccb;
}
#about {
    background-color: #eb7e7f;
}
#contact {
    background-color: #415c71;
}
