<html>



    <h1>
        This is the first blog post
    </h1>

    <p>
        As a first-year Computer Science student at UOB, I got the chance to be part of amazing communities and meet wonderful people which helped me develop and learn a lot about students' needs. My experience during this year brought me through the organization of international camps, being part of the Computer Science Society at the university, getting internships, and Spring Week offers and ultimately to the idea of running a Women in Tech Society at university? Whoa! That has definitely been a thriving year for me. How did I end up doing all these things? What are my plans for the future and for society?
    </p>
    <p>
        Well, I guess one of the things that played significant importance in my achievements was my passion for competitive programming. Solving problems on websites like Codeforces, TopCoder, CodeChef, and preparing for contests and Computer Science Olympiad in my high school years has definitely put a strong base that has helped me through interviews.
        Through one of these websites, ironically, I have heard about Meet IT and participated in their first camp. I was so amazed by the community of smart and ambitious people that I joined Meet IT as an organizer for camps and other programs.
    </p>
    <p>
        Once I got to university, I was more than determined to join all the opportunities that would help me develop. I run for being a first-year representative, even if I was afraid to do it in the beginning because of the competition. Frankly, my motivation to be part of the committee paid off and I got to spend a wonderful year close to understanding how to run and organize events and getting a better insight into all the things that are happening during the year for people interesting in technology. In my second year, I was selected to be the Vice President for the Computer Science society and I believe I am ready to deliver best quality for next events, welcome new students in our warm community, and build stronger connections between all of us.
    </p>
    <p>
        I was also multiple times asked how did I get an internship in my first year. The truth is I was strongly motivated to get one even before starting university. I believe internships are the best way to get work experience, become better prepared for work after university, and understand more about yourself and what you want to do in the future.
    </p>
    <p>
        One of the most important things to keep in mind if you want to get an internship for the summer. Start applying early. And by applying early I mean start looking for opportunities no later than October. Many companies, especially the big ones, open their job applications early in Autumn, and they recruit on a rolling basis. So sometimes, even if you apply before the deadline, you might not get it because they already filled all positions.
    </p>
    <p>
        Applying for an internship position, usually, does not take a lot of time if you have a CV prepared and optionally a Cover Letter. The first step in your application process will most certainly be CV screening, where your CV is judged, by a person, or sometimes not (because of the huge load of application they receive). Therefore you have to make sure your CV is well prepared and you have everything that you think is worthy, because this step determines whether or not you will get to the next step (interviews). To have a strong CV, make sure you get involved in activities, participate in hackathons, take up some courses, or start some side-projects. When you apply, you can't really do anything more here rather than making sure your application is the strongest possible and just wait.
    </p>
    <p>
        If you are successful, you will possibly have an HR interview, which is usually aimed at making you get a better understanding of the company and the job, and of course, giving you the first opportunity to introduce yourself and showcase why you are a strong candidate. It's important that you are well informed about the position you applied to and the company before the interview. You can find out more about it on their website or Glassdoor.
    </p>
    <p>
        Technical interviews are usually aimed at analyzing your programming and thinking skills. The way I felt best for me to prepare for interviews was to do mock interviews with friends or using Pramp, which helped me get better at explaining my train of thoughts to another person, getting better at solving problems at the first sight and write more clean code during an interview. In regards to the best ways to prepare for the kind of programming problems in interviews, I recommend Leetcode. It is very good to act like you are in an interview every time you solve a problem, think about complexities, and how to improve your solutions!
        I feel that the best way to getting better at interviews is to actually have as many as possible. I know mock interviews helped me a lot. But actually applying for internships and getting real-life experience in interviews was the most valuable for me, as it made me realize what I need to improve in myself. Of course, I was super nervous and even afraid to apply or to go for interviews. But sometimes, getting your CV ready, asking anyone you know for help, preparing for interviews intensely, waking up at 5 am to go to another city for a 2h interview that you are really stressed about is a choice that can get you an awesome summer experience! Plus that you will regret not having applied for an internship more than being mad about the way you performed during an interview.
    </p>
    <p>
        During my first year, I applied to any opportunity I found, even if I thought I am not qualified enough for it, or I was afraid. Great work experience for first and possibly second years is the Spring Weeks, where you get to find out more about the company and get some hands-on experience. I got spring weeks at JP Morgan and Jane Street, and I was so grateful for all the things I learnt during the programmes, and it is an opportunity I recommend to everyone.
    </p>
    <p>
        All in all, the things that I will certainly keep in mind from my first year is, apply early, apply to more companies so that you get more interview experience and don't risk not getting any internship, not being afraid and prepare more.
    </p>
    <p>
        Last but not least, this was a little about me and about my experience. Another thing that happened to me in my first year, and everyone else, was a lockdown. During the lockdown, I got to develop the skills that I always wanted and think about my ambitions for the next year. I got the privilege of talking to Hafsa and I am so glad that our aims coincide. We want to bring up the Women in Tech Society to welcome all women and create a great community. I have so many things to share and so many opportunities I am aware of and I can't wait to have you all on board!
    </p>
    <p>
        Love,
        Valeria

    </p>
</html>