<html>



    <h1>
        What I enjoyed studying in my first year
    </h1>

    <p>
        As a first-year Computer Science student at UOB, I got the chance to be part of amazing communities and meet wonderful people which helped me develop and learn a lot about students' needs. My experience during this year brought me through the organization of international camps, being part of the Computer Science Society at the university, getting internships, and Spring Week offers and ultimately to the idea of running a Women in Tech Society at university? Whoa! That has definitely been a thriving year for me. How did I end up doing all these things? What are my plans for the future and for society?
    </p>
    <p>
        Well, I guess one of the things that played significant importance in my achievements was my passion for competitive programming. Solving problems on websites like Codeforces, TopCoder, CodeChef, and preparing for contests and Computer Science Olympiad in my high school years has definitely put a strong base that has helped me through interviews.
        Through one of these websites, ironically, I have heard about Meet IT and participated in their first camp. I was so amazed by the community of smart and ambitious people that I joined Meet IT as an organizer for camps and other programs.
    </p>
    <p>
        Once I got to university, I was more than determined to join all the opportunities that would help me develop. I run for being a first-year representative, even if I was afraid to do it in the beginning because of the competition. Frankly, my motivation to be part of the committee paid off and I got to spend a wonderful year close to understanding how to run and organize events and getting a better insight into all the things that are happening during the year for people interesting in technology. In my second year, I was selected to be the Vice President for the Computer Science society and I believe I am ready to deliver best quality for next events, welcome new students in our warm community, and build stronger connections between all of us.
    </p>

    <p>
        As for the studies, I was so excited to finally be at university and have the opportunitiy to learn exactly what I enjoy every day. I loved the Maths lectures with Achim and it was amazing seeing how maths is applied to the probelms that Computer Science is solving.
        <br>
        <br>
        Data Structures and Algorithms was always something I enjoyed since high school. Preparing for the Computer Science Olmpiad in high school and participating intensely for programming competitons for four years helped me get a very good base in Data Structures and Algorithmgs and programming techniques in C++.
        In my second year of high school I was awarded a Medal at the National Computer Science Olympiad in Romania and got numerous other national and international prizes. Finding ways to represent these data structures in Java this time helped my find out more about how we can make use of Object Oriented Programming and other techniques to represent these Data Structures.
        But I never thought Data Structures can be the base of how we think about such big projects like Autonomous Driving.

        <br>
        <br>
        During my internship at ARM this summer, I got to work with Fault Tree Analysis, which are trees that represent Hazards (the things that can go wrong) while driving and the causes for such hazards. Every failure is represented by a node in the tree and such a failure can be caused by different other failures with certain probabilities. The hazard can range from ‘The window button is not working’ to the “Airbag is not working”, or the break is triggered when there are no objects in front of the car, causing accidents, injuries or minor problems. All these hazards are caused by some parts in the cars not working, or some safety mechanisms in the car not catching the problem and not notifying the driver so that he can step in or be aware of it.

        <br>
        <br>
        Moreover, some problems may be caused in the algorithm, software failures, which are systematic, and some problems may be caused by hardware components which usually fail with a certain probability. Finding reasons for a certain failure to happen and the dependencies between them, which can be described by an OR gate or an AND gate, we can find out the probability of certain failure to happen by knowing the probabilities of the causes.

        <br>
        <br>
        And last but not least, of course I absolutely loved the Artificial Inteligence Module and the Robotics Assignments. This is something that definitely made me so curious to learn more about. This is why during the quarantine I started a Coursera module about Neural Networks and tried to apply it on different projects like a mini application that can classiy photos of numbers and tell you what number it is.

    </p>
    <p>
        During my first year, I applied to any opportunity I found, even if I thought I am not qualified enough for it, or I was afraid. Great work experience for first and possibly second years is the Spring Weeks, where you get to find out more about the company and get some hands-on experience. I got spring weeks at JP Morgan and Jane Street, and I was so grateful for all the things I learnt during the programmes, and it is an opportunity I recommend to everyone.
    </p>
    <p>
        All in all, the things that I will certainly keep in mind from my first year is, apply early, apply to more companies so that you get more interview experience and don't risk not getting any internship, not being afraid and prepare more.
    </p>
    <p>
        Last but not least, this was a little about me and about my experience. Another thing that happened to me in my first year, and everyone else, was a lockdown. During the lockdown, I got to develop the skills that I always wanted and think about my ambitions for the next year. I got the privilege of talking to Hafsa and I am so glad that our aims coincide. We want to bring up the Women in Tech Society to welcome all women and create a great community. I have so many things to share and so many opportunities I am aware of and I can't wait to have you all on board!
    </p>
    <p>
        Love,
        Valeria

    </p>
</html>