<html>



    <h1>
        A post looking to the future that discusses what you’re looking forward to learning about in the upcoming academic year.
    </h1>

    <p>
        Looking to try to get myself involved in all other activities
            - Continue being vice President for CSS
            - Found the Women in Tech Society at the university
            - Become a Google Group Developer in the birmingham as a city and continue my mentowring with the local IT ecosystem and develop myself
            - Continue being a Computer Science Ambassador and continue convinving new students what an wonderful university this is and how many opportunities it opened for me
            - Work in the team for the Student Developer Club at University to create tech workshops to help students get into Tech
    </p>

    <p>
        Already working on getting a summer internship. After some spring weeks I have been fast tracked for interviews for summer internships for the new year

    </p>

    <p>
        I can't wait to see what other exciting things I will be learning next year.
        I always loved learning new things especially about all different things we can do in computer Science.
    </p>
</html>